.form {
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: rgba(94, 176, 227, 0.8);
  padding: 50px;
  border-radius: 10px;
}


.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

}


.form button {
  display: block;
  margin: 0 auto;

}
